# Erlaube Zugriff auf die EFS-Partition im Allgemeinen
allow rild efs_file:dir r_dir_perms;
allow rild efs_file:file r_file_perms;

# Erlaube dem alten Daemon, Sockets für die Kommunikation zu erstellen
allow rild rild_socket:sock_file { create setattr unlink };

# Erlaube das Setzen von Radio-Eigenschaften
set_prop(rild, radio_prop)
